Redirect 301 /blog/ouverture-blog http://www.vtourraine.net/blog/2011/ouverture-blog
Redirect 301 /blog/ios-retina-resolution-taille-pixel http://www.vtourraine.net/blog/2011/ios-retina-resolution-taille-pixel
Redirect 301 /blog/ios-contacts-twitter-carnet-adresses http://www.vtourraine.net/blog/2011/ios-contacts-twitter-carnet-adresses
Redirect 301 /blog/ios-xcode-projets-parallele http://www.vtourraine.net/blog/2011/ios-xcode-projets-parallele
Redirect 301 /blog/rejoins-equipe-shazino http://www.vtourraine.net/blog/2011/rejoins-equipe-shazino
Redirect 301 /blog/ios-animations-blocs http://www.vtourraine.net/blog/2011/ios-animations-blocs
Redirect 301 /blog/palm-webos-hp-mauvais-exemple http://www.vtourraine.net/blog/2011/palm-webos-hp-mauvais-exemple
Redirect 301 /blog/tiny-tower-jeu-mobile http://www.vtourraine.net/blog/2011/tiny-tower-jeu-mobile
Redirect 301 /blog/2011-bilan http://www.vtourraine.net/blog/2012/2011-bilan
Redirect 301 /blog/musique-itunes-digital-hub http://www.vtourraine.net/blog/2012/musique-itunes-digital-hub
Redirect 301 /blog/xcode-4-workspaces http://www.vtourraine.net/blog/2012/xcode-4-workspaces
Redirect 301 /blog/app-mobile-guide-utilisation http://www.vtourraine.net/blog/2012/app-mobile-guide-utilisation
Redirect 301 /blog/app-mobile-ui-appui-prolonge http://www.vtourraine.net/blog/2012/app-mobile-ui-appui-prolonge
Redirect 301 /blog/ios-tdd-tests-unitaires http://www.vtourraine.net/blog/2012/ios-tdd-tests-unitaires
Redirect 301 /blog/ipad-comic-books-retina-cmxhd http://www.vtourraine.net/blog/2012/ipad-comic-books-retina-cmxhd
Redirect 301 /blog/musique-spotify-premiers-pas http://www.vtourraine.net/blog/2012/musique-spotify-premiers-pas
Redirect 301 /blog/lire-disque-blu-ray http://www.vtourraine.net/blog/2012/lire-disque-blu-ray
Redirect 301 /blog/ios-fluidite-animation-uitableview http://www.vtourraine.net/blog/2012/ios-fluidite-animation-uitableview
Redirect 301 /blog/ios-6-api-sdk http://www.vtourraine.net/blog/2012/ios-6-api-sdk
Redirect 301 /blog/the-magazine-newsstand http://www.vtourraine.net/blog/2012/the-magazine-newsstand
Redirect 301 /blog/ios-generer-screenshots http://www.vtourraine.net/blog/2012/ios-generer-screenshots
Redirect 301 /blog/2012-bilan http://www.vtourraine.net/blog/2013/2012-bilan
Redirect 301 /blog/ios-cocoa-custom-style http://www.vtourraine.net/blog/2013/ios-cocoa-custom-style
Redirect 301 /blog/osx-ios-tests-unitaires-travis http://www.vtourraine.net/blog/2013/osx-ios-tests-unitaires-travis
Redirect 301 /blog/app-contacts-sync-url-schemes http://www.vtourraine.net/blog/2013/app-contacts-sync-url-schemes
Redirect 301 /blog/rappels-todo-gtd http://www.vtourraine.net/blog/2013/rappels-todo-gtd
Redirect 301 /blog/markdown-trackup-format http://www.vtourraine.net/blog/2013/markdown-trackup-format
Redirect 301 /blog/ios-7-background-fetching http://www.vtourraine.net/blog/2013/ios-7-background-fetching
Redirect 301 /blog/2013-bilan http://www.vtourraine.net/blog/2014/2013-bilan
Redirect 301 /blog/podcasts-tech-apple-news http://www.vtourraine.net/blog/2014/podcasts-tech-apple-news
Redirect 301 /blog/bonsai-developpement-code http://www.vtourraine.net/blog/2014/bonsai-developpement-code
Redirect 301 /blog/mixit-futur-interfaces-science-fiction http://www.vtourraine.net/blog/2014/mixit-futur-interfaces-science-fiction
Redirect 301 /blog/structure-code-objective-c http://www.vtourraine.net/blog/2014/structure-code-objective-c
Redirect 301 /blog/selection-magazines http://www.vtourraine.net/blog/2014/selection-magazines
Redirect 301 /blog/ios-boutons-couleurs http://www.vtourraine.net/blog/2014/ios-boutons-couleurs
